/* universal styles */
*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}

.clearfix:after {
	display: table;
	content: " ";
	clear: both;
}

a {
    text-decoration: none;
    color: #545454;
}

ul li {
	list-style-type: none;
}

img {
	border: 0;
}

/* global */

.container {
	width: 960px;
	margin: 0 auto;	
}

.home {
    background: url("../img/skull.jpg") center no-repeat;
    background-size: 432px, 627px, auto;
	color: #545454;
	font-size: 14px;
	font-family: 'Open Sans Condensed', sans-serif;
}

.mainheader {
	background: rgba(255,255,255,0);
	width: 600px;
    text-align: center;
    font-size:12px;
    color: #545454;
    padding-left: 230px;
    font-family: 'Open Sans Condensed', sans-serif;
}

h1 {
	font-weight: normal;
    opacity: 0.8;
    transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
}
h1:hover {
    opacity: 0.1;
}
